#user{
    text-transform: uppercase;
}

.login-form{
    max-width: 300px;
    margin: 0 auto;
}

#map {
    height: 300px;
    width: 400px;
}

#inputUsername{
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#inputPassword{
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

.messageBubble{
    position: relative;
    width: 325px;
    height: 65px;
    padding: 10px;
    margin: 15px;
    background: #white;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    border: #EAFEFA solid 5px;
}
.messageBubble:after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 12px 10px 12px 0;
    border-color: transparent #E6FFFF;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -12px;
    left: -10px;
    top: 37%;
}
.messageBubble:before{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 16px 14px 16px 0;
    border-color: transparent #EAFEFA;
    display: block;
    width: 0;
    z-index: 0;
    margin-top: -16px;
    left: -19px;
    top: 37%;
}
