<div class= 'page-container'>
    <div ng-controller="mapController">
        <ng-map zoom="10">
        </ng-map>
    </div>
    <div ng-controller='SocketCtrl'>
        <div class="row">
            <div class='messageBubble' ng-repeat="message in newMessages">{{message}}</div></div>
        <div class='row'>
        </div>
        <div class='row'>
            <div class='col-md-8'>
            <div style=style="width:200px;float:left;">
                <form role='form' novalidate name='form'>
                    <div class='form-group'>
                        <input type='text' style='width: 100%; background-color:white; color:black;'
                               required
                               ng-max='50'
                               ng-model='message'
                               focus>
                        <button style='width: 100px; height: 40px;' type="submit"
                                ng-enable='form.$valid'
                                ng-click="sendMessage(message)">Send!</button>
                    </div>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>