<div class='container'>
    <a ui-sref=".map" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true" style="font-size: 26px;"></a>
    <div ng-controller='SocketCtrl'>
        <div class="row">
            <div class="col-xs-6"></div>
            <div class="col-xs-6">
                <span id = "giphyme"></span>
            </div>
        </div>

        <div class="row">
            <div class='messageBubble' ng-repeat="message in newMessages">{{message}}</div></div>
        <div class='row'>
            &nbsp;
        </div>
        <div class='row'>
            <div class='col-md-8'>
                <form role='form' novalidate name='form'>
                    <div class='form-group'>
                        <input type='text' style='width: 50%'
                               required
                               ng-max='30'
                               ng-model='message'
                               focus>
                        <button class='btn btn-sm btn-primary'
                                ng-enable='form.$valid'
                                ng-click="sendMessage(message)">Send!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer>
    <button class="btn btn-primary" ng-click="FBLogout()">FB Logout</button>
</footer>
