<div ng-controller="AuthCtrl">
    <div class = 'page-container'>
      <h1> Login</h1>
        <form action="" method="post">
          <input type="text" id = "inputUsername" name="username" placeholder="Username" required autofocus ng-model='user.username'>
          <input type="password" name="password" class="password" placeholder="Password" ng-model='user.password' required>
          <button type="submit">Sign in</button>
          <div class="error"><span>+</span></div>
        </form>
        <div class="connect">
          <p>Or connect with:</p>
          <p>
            <a class="facebook" href ng-click="FBLogin()"></a>
          </p>
        </div>
    </div>
</div>
